[data-bs-theme='dark'] .dropdown-menu,
[data-bs-theme='dark'] body {
  background-color: #101214;
}
[data-bs-theme='dark'] .text-primary-emphasis,
[data-bs-theme='dark'] .text-primary-emphasis {
  color: #fff !important;
}

[data-bs-theme='dark'] .card {
  border-color: #181a1e !important;
  background: #181a1e !important;
}
[data-bs-theme='dark'] article:hover {
  background: #181a1e !important;
}
[data-bs-theme='dark'] .border-end,
[data-bs-theme='dark'] .border-bottom {
  border-color: #171a1b !important;
}
[data-bs-theme='dark'] .img-article-card,
[data-bs-theme='dark'] .description-article {
  opacity: 0.8;
}
