/** SCSS DARK THEME MIXED SURFACE COLORS */
$surface-mixed-100: #362c2b;
$surface-mixed-200: #4a403f;
$surface-mixed-300: #5e5554;
$surface-mixed-400: #736b6b;
$surface-mixed-500: #898282;
$surface-mixed-600: #a09a99;

/** SCSS DARK THEME SURFACE COLORS */
$surface-100: #212529;
$surface-200: #36393d;
$surface-300: #4c4f53;
$surface-400: #636669;
$surface-500: #7b7d80;
$surface-600: #949698;

[data-bs-theme='dark'] .ce-conversion-tool__icon,
[data-bs-theme='dark'] .ce-conversion-toolbar,
[data-bs-theme='dark'] .ce-conversion-toolbar__label,
[data-bs-theme='dark'] .ce-toolbar__plus,
[data-bs-theme='dark'] .ce-toolbar__settings-btn,
[data-bs-theme='dark'] .tc-popover,
[data-bs-theme='dark'] .tc-popover__item,
[data-bs-theme='dark'] .cdx-notify.cdx-notify--error.cdx-notify--bounce-in,
[data-bs-theme='dark'] .cdx-button,
[data-bs-theme='dark'] .cdx-notifies,
[data-bs-theme='dark'] .ce-inline-toolbar,
[data-bs-theme='dark'] .cdx-search-field.ce-popover__search,
[data-bs-theme='dark'] .ce-popover-item__icon,
[data-bs-theme='dark'] .ce-popover,
[data-bs-theme='dark'] .editor-article > div,
[data-bs-theme='dark'] sidebar,
[data-bs-theme='dark'] .nav-bar-mobile,
[data-bs-theme='dark'] input,
[data-bs-theme='dark'] :root,
[data-bs-theme='dark'] .dropdown-menu,
[data-bs-theme='dark'] html,
[data-bs-theme='dark'] body {
  background-color: #101214 !important;
}

[data-bs-theme='dark'] html,
[data-bs-theme='dark'] body {
  min-height: 100vh;
}
[data-bs-theme='dark'] .wrapper,
[data-bs-theme='dark'] .link-tool__content.link-tool__content--rendered,
[data-bs-theme='dark'] .editorjs .ce-block i,
[data-bs-theme='dark'] .col-form-label.text-md-end,
[data-bs-theme='dark'] .ce-conversion-toolbar__label,
[data-bs-theme='dark'] .cdx-nested-list__item:before,
[data-bs-theme='dark'] .cdx-nested-list__item-content,
[data-bs-theme='dark'] .editorjs .ce-paragraph.cdx-block,
[data-bs-theme='dark'] .editorjs .ce-header,
[data-bs-theme='dark'] .text-primary-emphasis {
  color: #fff !important;
}

[data-bs-theme='dark'] .ce-popover-item:hover,
[data-bs-theme='dark'] .ce-toolbar__plus:hover,
[data-bs-theme='dark'] .tc-add-column:hover,
[data-bs-theme='dark'] .tc-add-row:hover:before,
[data-bs-theme='dark'] .tc-add-row:hover,
[data-bs-theme='dark'] .cdx-input.link-tool__input,
[data-bs-theme='dark'] .sidebar-article .badge {
  background-color: #362c2b !important;
  color: #fff !important;
}
[data-bs-theme='dark'] .ce-block--selected .ce-block__content {
  background: #181a1e;
}
[data-bs-theme='dark'] .sidebar-article,
[data-bs-theme='dark'] .cdx-attaches--with-file .cdx-attaches__download-button,
[data-bs-theme='dark'] .ce-stub,
[data-bs-theme='dark'] .cdx-block.cdx-simple-image,
[data-bs-theme='dark'] .link-tool__content.link-tool__content--rendered,
[data-bs-theme='dark'] .ce-toolbar__plus,
[data-bs-theme='dark'] .tc-popover,
[data-bs-theme='dark'] .ce-popover,
[data-bs-theme='dark'] .card {
  border-color: #181a1e !important;
  background: #181a1e !important;
}

[data-bs-theme='dark'] .modal-content .list-group-item,
[data-bs-theme='dark'] .modal-content .list-group {
  background-color: #212529 !important;
}
[data-bs-theme='dark'] .cdx-attaches--with-file,
[data-bs-theme='dark'] .list-group-item,
[data-bs-theme='dark'] .list-group,
[data-bs-theme='dark'] .ce-conversion-tool:hover,
[data-bs-theme='dark'] article:hover {
  background: #181a1e !important;
}

[data-bs-theme='dark'] .ce-toolbar__settings-btn,
[data-bs-theme='dark'] .ce-inline-toolbar,
[data-bs-theme='dark'] .ce-conversion-toolbar,
[data-bs-theme='dark'] .tc-popover__item-icon,
[data-bs-theme='dark'] .border-end,
[data-bs-theme='dark'] .border-bottom {
  border-color: #171a1b !important;
}
[data-bs-theme='dark'] .img-article-card,
[data-bs-theme='dark'] .description-article {
  opacity: 0.8;
}

[data-bs-theme='dark'] .ce-block a,
[data-bs-theme='dark'] .ce-block a i,
[data-bs-theme='dark'] .editorjs .ce-block i a {
  color: rgb(241, 99, 52) !important;
}
