@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables.css';

.poppins-thin {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}
ol.breadcrumb {
  font-size: 0.8rem;
}
.description-member {
  padding-top: 12px;
  font-size: 0.9rem;
  max-width: 630px;
  font-weight: 300;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  font-weight: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border-width: 0;
  border-style: initial;
  border-color: initial;
  -o-border-image: initial;
  border-image: initial;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  touch-action: manipulation;
  font-weight: 300;
  color: var(--bs-dark-text-emphasis);
}
i {
  font-weight: 200;
  font-size: 0.8rem;
  line-height: 0.7rem;
}
.sidebar .dropdown-menu {
  margin-left: 20px !important;
}
.dropdown-item {
  font-weight: 300;
  font-size: 13px;
}
.dropdown-item.hover,
.dropdown-item:active {
  text-decoration: none;
  background-color: var(--bs-primary) !important;
}

.form-control,
input {
  border: 1px solid var(--bs-dark-bg-subtle);
  padding: 15px !important;
  width: 100%;
  border-radius: 8px;
  font-size: 0.9rem;
}

select:focus,
select:hover,
input:focus,
input:hover {
  border-color: var(--bs-primary);
}

.button-login {
  width: 100%;
  padding: 15px;
  background: var(--bs-primary);
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 10px 0;
}

span a {
  color: var(--bs-primary);
}

span a:hover,
span a:focus {
  text-decoration: underline;
}

.main_content {
  padding-left: 100px;
  /*padding-right: 340px; */
  width: 100%;
  padding-top: 0 !important;
  transition: 0.5s;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  overflow: hidden;
}

.sidebar {
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 99;
  padding-bottom: 50px;
  position: fixed;
  width: 100px;
  transition: 0.5s;
}

.aside {
  width: 340px;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 99;
  padding-bottom: 50px;
  position: fixed;
  transition: 0.5s;
}

.sidebar > div {
  height: 100vh;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.nav-link {
  color: #757575;
}

.nav-bar-mobile a:hover,
.nav-bar-mobile a:focus,
.nav-bar-mobile a:active,
.nav-link:focus,
.nav-link:hover,
.nav-link.active {
  color: var(--bs-primary) !important;
}

.tabFilter {
  font-size: 0.9rem;
}
.buttom-action-add {
  font-size: 0.9rem;
  font-weight: 300;
  text-decoration: none;
}
.buttom-action-add:hover {
  color: var(--bs-primary);
}

.buttom-action-add .rounded-circle {
  background: var(--bs-light-rgb);
}

.tabFilter .nav-item a {
  padding: 0 0.4rem;
}

.tabFilter .nav-item:nth-child(1) a {
  padding-left: 0;
}

.search-article {
  width: 260px;
}

.search-article input {
  height: 38px;
}

.thubnail-member {
  margin-bottom: 80px;
  width: 100%;
  height: 170px;
  background-image:
    -moz-linear-gradient(
      45deg,
      var(--bs-dark-bg-subtle) 25%,
      transparent 25%,
      transparent 75%,
      var(--bs-dark-bg-subtle) 75%,
      var(--bs-dark-bg-subtle) 100%
    ),
    -moz-linear-gradient(45deg, var(--bs-dark-bg-subtle) 25%, transparent 25%, transparent 75%, var(
            --bs-dark-bg-subtle
          )
          75%, var(--bs-dark-bg-subtle) 100%);
  background-image:
    -webkit-linear-gradient(
      45deg,
      var(--bs-dark-bg-subtle) 25%,
      transparent 25%,
      transparent 75%,
      var(--bs-dark-bg-subtle) 75%,
      var(--bs-dark-bg-subtle) 100%
    ),
    -webkit-linear-gradient(45deg, var(--bs-dark-bg-subtle) 25%, transparent 25%, transparent 75%, var(
            --bs-dark-bg-subtle
          )
          75%, var(--bs-dark-bg-subtle) 100%);
  -moz-background-size: 24px 24px;
  background-size: 24px 24px;
  -webkit-background-size: 24px 24px;
  background-position:
    0 0,
    12px 12px;
  border: 1px solid var(--bs-dark-bg-subtle);
}
.form-control:focus {
  border-color: rgba(241, 99, 52);
  box-shadow: 0 0 0 0.25rem rgba(241, 99, 52, 0.2);
}
.img-article-card {
  margin-left: 25px;
  filter: grayscale(0.3);
}

.box-boder.border {
  border-width: 0 !important;
}
.page {
  min-height: 100vh;
  justify-content: center;
}
.page h1 {
  margin-bottom: 0;
}
.main_content h1 {
  font-size: 1.5rem;
}
.box-boder {
  padding: 1rem;
}

.dashboard_part .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.empty-section {
  height: 50vh;
}

article {
  padding: 25px 0;
  font-weight: 400;
  box-sizing: border-box;
}

article:hover {
  background: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
}

article a {
  color: var(--bs-primary);
  font-size: 13px;
  text-decoration: none;
}

.title-article {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 600;
}

.description-article {
  font-size: 0.9rem;
  font-weight: 300;
  display: none;
}
.name-author,
.date-article {
  font-size: 0.7rem;
  line-height: 0.8rem;
  opacity: 0.9;
}
.author-info * {
  float: left;
}

.category-article span {
  font-size: 0.7rem;
  background-color: #fdf8f4;
  padding: 8px;
  border-radius: 8px;
  width: auto;
}

.view-article {
  font-size: 0.7rem;
  color: #757575;
}
.nav-bar-mobile {
  font-size: 0.8rem;
  background-color: #fff;
}
.nav-bar-mobile a {
  text-decoration: none;
  opacity: 0.9;
  padding: 10px 0 10px 0;
}
@media only screen and (min-width: 992px) {
  .name-author,
  .date-article {
    font-size: 0.7rem;
  }
  .title-article {
    font-size: 1.4rem;
  }
  .description-article {
    display: block;
    padding-top: 10px;
  }
  .empty-section {
    height: 50vh;
  }
  .page {
    height: 100vh;
    grid-template-columns: 50% 50%;
    align-items: center;
  }

  .item {
    text-align: center;
    flex: 1 1;
  }

  .box-boder {
    padding: 60px;
    width: 100%;
    max-width: 480px;
    border-radius: 8px;
  }

  .box-boder.border {
    border-width: 1px !important;
  }

  .tabFilter .nav-link {
    padding: 1rem;
  }
}
